<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false" version="2.5">
	<display-name>WestGate</display-name>
	<distributable />
	<listener>
		<listener-class>de.innovationgate.wgpublisher.sessions.WGAHttpSessionListener</listener-class>
	</listener>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<mime-mapping>
		<extension>css</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>js</extension>
		<mime-type>text/javascript</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jpg</extension>
		<mime-type>image/jpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>gif</extension>
		<mime-type>image/gif</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>html</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>htm</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jpeg</extension>
		<mime-type>image/jpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jnlp</extension>
		<mime-type>application/x-java-jnlp-file</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wsdl</extension>
		<mime-type>application/wsdl+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xul</extension>
		<mime-type>application/vnd.mozilla.xul+xml</mime-type>
	</mime-mapping>
	<jsp-config>
		<taglib>
			<taglib-uri>http://www.innovationgate.de/wgpublisher/webtml/2.2</taglib-uri>
			<taglib-location>/WEB-INF/tlds/webtml.tld</taglib-location>
		</taglib>
	</jsp-config>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>WGA2</realm-name>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/error.jsp</form-error-page>
		</form-login-config>
	</login-config>
</web-app>
